<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="blog-container">
      <h1>You're not a slow reader</h1>
      <i>May 25, 2024</i>
      <br />
      <br />
      <img
        src="../static/images/reading.webp"
        alt="Cinque Terre"
        class="rounded mx-auto d-block"
        width="400"
        height="400"
      />
      <br />
      <h2 id="everybody-wants-to-read-more">Everybody wants to read more</h2>
      <p>
        Reading is one of those things that just about everybody wishes they did
        more of. While reading a little each day is a great strategy,
        there&#39;s only so much time you can set aside for reading. We&#39;re
        limited not only by how much
        <em>time</em> we can dedicate to reading, but also by how
        <em>quickly</em> we can read.
      </p>
      <p>
        For a long time, I was frustrated with myself for being a &quot;slow
        reader.&quot; I know I&#39;m not alone in this feeling. Personally, I
        always figured it was just something I wasn&#39;t good at, and that the
        ability to speed read was mostly a gift and not a skill. However, I
        recently discovered not only that I was wrong about these assumptions,
        but also that the trick to reading quickly is in fact very simple.
      </p>
      <h2 id="reading-without-subvocalization">
        Reading without subvocalization
      </h2>
      <p>
        When most people read, myself included, we essentially talk to ourselves
        in our mind, saying each word one by one with our &quot;inner
        monologue.&quot; This is called
        <a href="https://en.wikipedia.org/wiki/Subvocalization"
          >subvocalization</a
        >. Naturally, when we subvocalize, we tend to read at around the same
        speed that we talk. This is fine for things like fiction books that
        you&#39;re reading purely for enjoyment, but when it comes to non
        fiction, this can severely slow you down.
      </p>
      <p>
        Thankfully, subvocalization isn&#39;t a necessary feature of reading.
        It&#39;s completely possible to read without using your inner monologue,
        and it&#39;s actually much faster. When I first came about this concept
        in this
        <a href="https://benedictxneo.substack.com/p/how-to-read-more"
          >blog post by Benedict Neo</a
        >, a fellow Machine Learning Engineer, I was honestly blown away. I felt
        like this simple idea had answered a long standing question I&#39;ve had
        as to how other people were able to read so quickly, and why I could
        not.
      </p>
      <p>
        In retrospect, I knew that speed readers were not reading every word of
        every sentence in their entirety, however, I hadn&#39;t even considered
        that the trick was to simply &quot;turn off your inner monologue.&quot;
        It takes some getting used to if you&#39;ve never done it before, but
        after a little while you&#39;ll be reading faster than ever. Without
        having to wait for your inner monologue to finish pronouncing each word,
        you can drastically increase the number of words you read per minute.
      </p>
      <p>
        I think it&#39;s important to draw the distinction between this method
        of &quot;reading without your inner monologue&quot; and the concept of
        &quot;skimming.&quot; Skimming is more analogous to &quot;skipping
        through&quot; some text to get a general idea what it&#39;s about, or to
        try and search for some topic within it. When skimming, you may skip
        over entire sentences or even paragraphs. However, when &quot;reading
        without subvocalization&quot;, you should still be reading every word
        (more-or-less), but without stopping to pronounce each word in your
        head. I think it&#39;s important to differentiate between the two
        methods, as they provide radically different levels of reading
        comprehension.
      </p>
    </div>
  </div>
</div>
