a {
  color: #666;
}

body {
  max-width: 900px;
  margin: 0 auto;
  /* font-family: 'Georgia', serif; */
  font-family: 'Neue Haas Grotesk Text Pro', sans-serif;

}

blockquote {
  border-left: 4px solid #ccc;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #f1f1f1;
  font-style: italic;
  color: #555;
}

blockquote p {
  margin: 0;
}

blockquote::before {
  content: '“';
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  color: #ccc;
  margin-right: 0.25em;
}

.blog-container {
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
}

.dots {
  content: '...';
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #555;
}

#aboutme {
  margin-top: 60px;
}

#blog-date {
  margin-top: 20px;
}

#name {
  text-align: left;
  margin-left: 20px;
}

#blog-link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #212529;
}

#content-wrap {
  margin: auto;
  padding-bottom: 2.5rem;
  /* width: 80%; */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#menu {
  float: right;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
