{% extends "base.html" %} {% block content %}
<div id="page-container">
  <div id="content-wrap">
    <!-- Pic and about me -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div style="text-align: center">
            <img
              src="static/images/face.png"
              class="rounded-circle"
              alt="Reese"
              width="160"
              height="160"
            />
          </div>
          <div></div>
          <h5 style="text-align: center">
            <a
              class="bi-linkedin"
              href="https://www.linkedin.com/in/reese-green-589031183/"
            ></a>
            &nbsp
            <a class="bi-envelope" href="mailto: rcgreen99@gmail.com"></a>
            &nbsp
            <a class="bi-github" href="https://github.com/rcgreen99"></a>
          </h5>
        </div>
        <div class="col-md-8">
          <p id="aboutme">
            Machine Learning Engineer at mbue, living in Austin, TX
            <br />
            <br />
            Passionate about AI and Deep Learning. Please reach out if you have
            any questions or would like to collaborate. I'm always looking to
            learn and grow.
          </p>
        </div>
      </div>
      <hr />
    </div>

    <!-- Eductation -->
    <div class="container">
      <h5>Education</h5>
      <ul>
        <li>
          <a href="../static/images/cs_diploma.png"
            >BS Computer Science at University of Colorado at Boulder (2022)</a
          >
        </li>
        <li>
          <a href="../static/images/appm_diploma.png"
            >BS Applied Mathematics at University of Colorado at Boulder
            (2021)</a
          >
        </li>
      </ul>
    </div>

    <!-- Experience -->
    <div class="container">
      <h5>Experience</h5>
      <ul>
        <li>
          Machine Learning Engineer at
          <a href="https://www.mbue.ai/"> mbue</a>
          (Nov 2023-present)
        </li>
        <li>
          Associate Machine Learning Engineer at
          <a href="https://www.kungfu.ai">KUNGFU.AI</a>
          (Oct 2022- Nov 2023)
        </li>
        <li>
          Machine Learning Intern at
          <a href="https://www.kungfu.ai">KUNGFU.AI</a>
          (May 2021- Aug 2021)
        </li>
        <li>
          Machine Learning Intern at
          <a href="https://www.kungfu.ai">KUNGFU.AI</a>
          (May 2019- Aug 2019)
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
