{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <a href="blog/the-great-debate" id="blog-link">
        The Great Debate:<br />
        Sutskever vs. Chollet on the Future of AGI
      </a>
      <p>Can LLM's scale to AGI?</p>
    </div>
    <div class="col-md-4" id="blog-date" style="text-align: right">
      <i> June 19, 2024</i>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8">
      <a href="blog/reading" id="blog-link"> You're not a slow reader</a>
      <p>How to read faster</p>
    </div>
    <div class="col-md-4" id="blog-date" style="text-align: right">
      <i> May 25, 2024 </i>
    </div>
  </div>
</div>
<hr />
{% endblock %}
