<!-- Header -->
<div class="container">
    <header class="masthead">
        <div class="row">
        <div class="col">
            <h4 id="name">Reese Green</h4 id="name">
        </div>
        <div class="col">
            <ul class="nav" id="menu">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/blog">Blog</a>
                <a class="nav-link" href="/work">Work</a>
            </ul>
        </div>
        </div>
        <hr> 
    </header>
    </div>
