<div class="container">
    <header class="masthead">
        <div class="row" style="margin-top: 50px">
        <div class="col">
            <h4 id="name"><a href="/">Reese Green</a></h4 id="name">
        </div>
        <div class="col">
            <ul class="nav" id="menu">
                <a class="nav-link" href="/about" >About</a>
                <a class="nav-link" href="/blog"style="margin-right: 20px">Blog</a>
            </ul>
        </div>
        </div>
        <hr> 
    </header>
</div>
